@import './custom.scss';

.main{
    &__container{
        text-align: center;
        padding: 8vmin;
        &__imgContainer{
            width: 30vw;

        }
        &__header{
            font-family: $Header;
            font-size: 4rem;
            color: $accent;
        }
        &__text{
            font-family: $Body;
            font-size: 1.4rem;
        }
    }
}